/* academic-schedule-section 커스텀 */
.academic-schedule-section {
    margin-top: 150px;
}
.academic-schedule-section > .academic-schedule-section-box {
}
/* .academic-schedule-section > .academic-schedule-section-box > .date-box 커스텀 */

.academic-schedule-section > .academic-schedule-section-box > .date-box {
    flex-grow: 1;
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .title {
    font-size: 25px;
    font-weight: 900;
    margin: 0 0 17px 0;
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .years {
    font-size: 20px;
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month {
    font-size: 32px;
    font-weight: 900;
    position: relative;
    width: 100%;
    height: 38%;
}

.academic-schedule-section > .academic-schedule-section-box > .date-box > .month::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    top:0;
    left:35%;
    background-color: #922125;
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom:0;
    left:35%;
    background-color: #922125;
}

.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .text {
    display: none;
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .text.active {
    display: inline-block;
}

.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .prev-btn {
    color: #fff;
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/left-btn-box.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    transition: background-image .3s;
    line-height: 1.2;

}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .prev-btn:hover {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/left-btn-box-active.png);
}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .next-btn{
    color: #fff;
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/right-btn-box.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    transition: background-image .3s;
    line-height: 1.2;

}
.academic-schedule-section > .academic-schedule-section-box > .date-box > .month > .next-btn:hover {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/right-btn-box-active.png);
}
/* .academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box 커스텀 */

.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box {
    flex-grow: 14;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav {
    display: none;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav.active {
    display: block;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li {
    position: relative;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li::before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    top:0;
    left:15%;
    background-color: #922125;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li::after {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom:0;
    left:15%;
    background-color: #922125;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li > .date {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 19px 0;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li > .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom:30px;
    width: 280px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.academic-schedule-section > .academic-schedule-section-box > .academic-schedule-view-box > nav > ul > li > .title > span {
    width: 8px;
    height: 8px;
    background-color: #922125;
    display: inline-block;
    transform: translateY(-50%) rotate(-45deg);
    margin: 0 5px ;
}
