
.greetings-section > .text-section {
    padding: 50px;
}

.greetings-section > .text-section > .sub-title {
    font-size: 23px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 50px;
}
.greetings-section > .text-section > .sub-title-2 {
    margin-top: 50px;
}
.greetings-section > .text-section > .body {
    font-size: 17px;
}

.greetings-section > .img-section {
    padding: 50px;
    position: absolute;
    top:0;
    right:0;
}
.greetings-section > .img-section > .img > .photo {
    width: 400px;
}
.greetings-section > .img-section > .img > .sign {
    margin-top: 50px;
    margin-left:50%;
    transform:translateX(-50%);
}
.greetings-section {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/background_logo.png?dummy123123asd123);
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position: 60% 20%;
    background-blend-mode: hard-light;
}
/* background-image용 이미지 opacity값 조절하기 */

