/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400')
@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
}


/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding:0;
    list-style: none;
}

a {
    color:inherit;
    text-decoration: none;
}


/* 라이브러리 */

.text-align-center {
    text-align: center;
}

.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.con {
    margin-left: auto;
    margin-right: auto;
}
/* flex 라이브러리 */
.flex {
    display: flex;
}
.flex-ai-c {
    align-items: center;
}
.flex-ai-e {
    align-items: flex-end;
}
* > .flex-jc-c {
    justify-content: center;
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-jc-sa {
    justify-content: space-around;
}
.flex-jc-e {
    justify-content: flex-end;
}
.flex-wrap-no {
    flex-wrap: nowrap;
}
* > .flex-1-0-0 {
    flex:1 0 0;
}
.inline-flex {
    display: inline-flex;
}
/* 커스텀 */
.con {
    width: 1400px;
}
.con-1 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.color-fff {
    color: #ffffff;
}
.color-922125 {
    color: #922125;
}
.color-ff8a00 {
    color: #FF8A00;
}

body li > a {
    cursor: pointer;
}
/* page-section 공통 커스텀 */
.page-section {
    margin-top: 100px;
}
.page-section > .text-section > .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}
.page-section > .text-section > .title::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    bottom:0;
    left:0;
    background-color: #922125;
}

/* side-quick-menu 커스텀 */
.side-quick-menu {
    right:0;
    top:103px;
    z-index: 4;
    transition: top .4s;
    transition-delay: .3s;
}
.side-quick-menu > nav {
    width: 60px;
}
.side-quick-menu > nav > ul > .title {
    background: #aaaaaa;
    height: 50px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}
.side-quick-menu > nav > ul > li {
    background: rgba(146, 33, 37,.5);
    height: 0px;
    overflow: hidden;
    transition: height .3s;
}
.side-quick-menu > nav > ul.active > li {
    height: 50px;
}
.side-quick-menu > nav > ul > li > a {
    height: 50px;
    width: 60px;
    
}
.side-quick-menu > nav > ul.active > li:not(:last-child) {
    border-bottom:2px solid rgba(255,255,255,.5);
}
/* top-bar 커스텀 */
.top-bar-1 {
    background: #616161;
    border-bottom:1px solid #aaaaaa;
}
.top-bar-2 {
    background: #ffffff;
    color: #000000;

}
/* menu-box-1 커스텀 */
.top-bar-1 >.menu-box-1 {
    color:#ffffff;
}
/* menu-box-1 > left 커스텀 */
.menu-box-1 > nav > .left > li > a {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 10px 5px 0;
}
.menu-box-1 > nav > .left > .facebook > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/facebook-icon.png);
}
.menu-box-1 > nav > .left > .instagram > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/instagram_icon.png);
}
.menu-box-1 > nav > .left > .blog > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/blog-icon.png);
}
.menu-box-1 > nav > .left > .youtube > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/youtube-icon.png);
}
/* menu-box-1 > right 커스텀 */
.menu-box-1 > nav > .right > li {
    margin: 5px 0 5px 20px;
    font-size: 14px;

}
.menu-box-1 > nav > .right > .search > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/search-icon.png);
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* menu-box-2 커스텀 */
.top-bar-2 > .top-bar-2-box {
    font-size: 17px;
    font-weight: 600;
    height: 67px;
}
.top-bar-2 > .top-bar-2-box > .logo > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/logo_n.png);
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 {
    flex-grow: 4;
    overflow: hidden;
}

.top-bar-2:hover {
    background: #ffffff;
    color: #000000;
}
/* menu-box-2 > ul > li 커스텀 */

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li > a > span {
    height: 67px;
}


.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > li > a > span::after {
    content:"";
    position: absolute;
    width: 0;
    bottom:0;
    left:0;
    height: 3px;
    background-color: #922125;
    transition: width .3s;
} 
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > li:hover > a > span::after {
    width: 100%;
}
/*
.bottom-line {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    overflow: hidden;
}
.bottom-line > .line {
    position: absolute;
    width: calc(100%/13);
    left:-1000%;
    height: 5px;
    bottom:0;
    background-color: #922125;
    transition: left .3s;
}
*/
/* drop-down-menu 커스텀 */

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul .drop-down-menu {
    position: absolute;
    top:100%;
    left:0;
    right:0;
    background: #ffffff;
    overflow: hidden;
    transition: height .3s;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > li.selected .drop-down-menu {
    z-index: 4;
    border-bottom:1px solid #616161;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li > .drop-down-menu > nav > ul > li > a {
    white-space: nowrap;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px 0;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > li > .drop-down-menu > nav > ul > li > a {
    background-color: #efefef;
    border-radius: 3px;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > li > .drop-down-menu > nav > ul > li:hover > a {
    color:#922125;
}

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li > .drop-down-menu > nav > ul > li > ul > li > a {
    padding: 5px 0;
    font-size:14px;
    font-weight:500;
}

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li:hover > .drop-down-menu ul li > a > span::after {
    content:"";
    position: absolute;
    height:2px;
    width: 0;
    left:0;
    bottom:-5px;
    background-color: #922125;
    transition: width .3s;
}

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li:hover > .drop-down-menu ul li:hover > a > span::after {
    width:100%;
} 


.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li:hover > .drop-down-menu ul ul li > a > span::after {
    content:"";
    position: absolute;
    height:2px;
    width: 0;
    left:0;
    bottom:-5px;
    background-color: #922125;
    transition: width .3s;
}

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li:hover > .drop-down-menu ul ul li:hover > a > span::after {
    width:100%;
} 

.top-bar-2 > .top-bar-2-box > .menu-box-2 ul > li:hover .drop-down-menu ul ul li:hover > a {
    color: #922125;
}
/* menu-box-2 btm-menu 커스텀 */
.top-bar-2:hover > .top-bar-2-box > .menu-box-2 > ul >.btn-menu > a > div {
    background-color: #000000;
} 

.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > .btn-menu > a {
    height: 40px;
    width: 60px;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > .btn-menu > a > div {
    position: absolute;
    background-color: #000000;
    right: 10px;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > .btn-menu > a > div:first-child {
    width: 33px;
    height: 5px;
    top:20%;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > .btn-menu > a > div:nth-child(2) {
    width: 30px;
    height: 5px;
    top:50%;
}
.top-bar-2 > .top-bar-2-box > .menu-box-2 > ul > .btn-menu > a > div:last-child {
    width: 35px;
    height: 5px;
    top:80%;
}

/* main-banenr 커스텀 */
.main-banner > .main-slider {
    width: 100%;
    height: 690px;
}
.main-banner > .main-slider > ul > li {
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 80%;
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
}
.main-banner > .main-slider > ul > li.active {
    opacity: 1;
}
.main-banner > .main-slider > ul > li > .text-img {
    position: absolute;
    bottom:150px;
    left:250px;
}
.main-banner > .main-slider > ul > li > .text-img > img {
    width:450px;
    filter: drop-shadow(3px 3px 3px #000);
}
.main-banner > .main-slider > ul > .banner-1 {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/main-banner-5.png);
}
.main-banner > .main-slider > ul > .banner-2 {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/main-banner-2.jpg);
}
.main-banner > .main-slider > ul > .banner-3 {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/main-banner-3.png);
}
.main-banner > .main-slider > .dots-box {
    position: absolute;
    bottom:20px;
    z-index: 3;
    left:50%;
    transform: translateX(-50%);
}
.main-banner > .main-slider > .dots-box > .dot {
    width: 15px;
    height: 15px;
    background-color: #616161;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.main-banner > .main-slider > .dots-box > .dot.active {
    background-color: #922125;
}

/*  quick-menu-bar 커스텀 */
.quick-menu-bar {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.quick-menu-bar > .quick-menu-box > ul {
    margin: 30px 0;
}
.quick-menu-bar > .quick-menu-box > ul > li > a {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 90px;
    transition: background-image .3s;
}
.quick-menu-bar > .quick-menu-box > ul > .academic-schedule > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-1.png); 
}

.quick-menu-bar > .quick-menu-box > ul > .total-portal-system > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-2.png); 
}

.quick-menu-bar > .quick-menu-box > ul > .online-certificate > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-3.png); 
}

.quick-menu-bar > .quick-menu-box > ul > .edcation-program > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-4.png?dummy123123asd); 
}

.quick-menu-bar > .quick-menu-box > ul > .global-AC > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-5.png); 
}

.quick-menu-bar > .quick-menu-box > ul > .scholarship-system > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-6.png); 
}

.quick-menu-bar > .quick-menu-box > ul > .dormitory > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-7.png); 
}

/*  quick-menu-bar > ul > li:hover 커스텀 */
.quick-menu-bar > .quick-menu-box > ul > .academic-schedule:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-1-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .total-portal-system:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-2-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .online-certificate:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-3-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .edcation-program:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-4-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .global-AC:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-5-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .scholarship-system:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-6-active.png); 
}
.quick-menu-bar > .quick-menu-box > ul > .dormitory:hover > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/quick-7-active.png?dummyasd123asdasda); 
}

/* notice-section 커스텀 */
.notice-section {
    margin-top: 100px;
}

.notice-section > div > .title {
    font-size: 23px;
    font-weight: 900;
}

.notice-section > .notice-section-box > .tap-menu {
    color: #fff;
    cursor: pointer;
}

.notice-section > .notice-section-box > .tap-menu > ul > li > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/btn-box.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 45px;
    transition: background .3s;
    font-weight: bold;
    font-size: 15px;
}
.notice-section > .notice-section-box > .tap-menu > ul > li:hover > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/btn-box-active.png);
    background-repeat: no-repeat;
    background-size: contain;
} 
.notice-section > .notice-section-box > .tap-menu > ul > li.active > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/btn-box-active.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.notice-section > .notice-section-box > .tap-menu-item > nav {
    display: none;
}
.notice-section > .notice-section-box > .tap-menu-item > nav.active {
    display: block;
    margin-top: 50px;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li {
    position: relative;
    height: 130px;
    padding:10px;
    flex:1 0 0;
    border-left:1px solid #922125;
    border-right:1px solid #922125;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:350px;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .date {
    text-align: center;
    margin: 15px 0;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .body {
    overflow: hidden;
    text-overflow: ellipsis;
    width:350px;
    height: 3em;
    line-clamp: 3;
}
/*
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li::after {
    content: "";
    width: 1px;
    height: 80%;
    margin-top: 10%;
    top:0;
    left:0;
    background-color: #922125;
    position: absolute;
}
*/
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .title {
    font-size: 20px;
    font-weight: 900;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .title > span {
    width: 5px;
    height: 5px;
    background-color: #922125;
    display: inline-block;
    transform: translateY(-100%) rotate(-45deg);
    margin: 0 5px ;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .date {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}
.notice-section > .notice-section-box > .tap-menu-item > nav > ul > li > a > .body {
    font-weight: 700;
}
/* news-exhibition-section 커스텀 */
.news-exhibition-section {
    padding-top: 150px;
}
.background-section{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/background_img8.png?dummyadsdaqrqe);
    background-position: 50% 100%;
    background-size: cover;
}
.news-exhibition-section > div > .title {
    font-size: 23px;
    font-weight: 900;
}

/* news-exhibition-slider 커스텀 */
.news-exhibition-slider {
    margin-top: 50px;
    height:400px;
}
.slide-item > a {
    margin:0 20px;
    width:calc(600px * 0.7);
    height:calc(296px * 0.7);
    display:block;
    
}
.slide-item > a {
    margin-top: calc(296px / 2);
}
.slide-item > a > img {
    width:calc(600px * 0.7);
    height:calc(296px * 0.7);
    
}
/* 이쪽이 문제 */
.slick-center a {
    width:calc(600px * 1.2);
    height:calc(296px * 1.2);
    margin-top: 0;
}
.slick-center a > img {
    width:calc(600px * 1.2);
    height:calc(296px * 1.2);
}
/* news-exhibition-slider > slick-dots 커스텀 */
.slick-dots li {
    color: #616161;
    opacity:1;
}
.news-exhibition-slider > .slider-div  > .slick-dots li.slick-active button:before {
    color:#922125;
}
.news-exhibition-slider > .slider-div  > .slick-dots li button:before {
    color: #616161;
    opacity:1;
    font-size:11px;
}
/* news-exhibition-slider > arrow-btn 커스텀 */
.arrow-btn  {
    color: #fff;
    font-size:25px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;

}
.arrow-btn > .prev-btn {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/left-btn-box.png);
    background-repeat: no-repeat;
    width:45px;
    height:38px;
    line-height: 1.6;
    transition: background-image .3s;
}
.arrow-btn > .prev-btn:hover {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/left-btn-box-active.png);
    width:45px;
    height:38px;
}
.arrow-btn > .next-btn {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/right-btn-box.png);
    background-repeat: no-repeat;
    width:45px;
    height:38px;
    line-height: 1.6;
    transition: background-image .3s;
}
.arrow-btn > .next-btn:hover {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/seoularts_photo/right-btn-box-active.png);
    width:45px;
    height:38px;
}

/* story-section 커스텀 */
.story-section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.story-section > .story-section-box > .title {
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 50px;
}


.story-section > .story-section-box > .story-img-menu > nav > ul > li > a {
    width: 320px;
    height: 400px;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .title,
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .sub-title {
    position: absolute;
    color: #fff;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .title {
    top:0;
    font-size: 20px;
    font-weight: bold;
    left:0;
    right:0;
    text-align: center;
    padding: 10px;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .sub-title {
    bottom:0;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    word-break: keep-all;
    left:0;
    right:0;
    text-align: left;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li > a > .img::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .3s;
}
.story-section > .story-section-box > .story-img-menu > nav > ul > li:hover > a > .img::after {
    background-color: rgba(0,0,0,0.3);
    
}
/* bottom-site-map-section 커스텀 */
.bottom-site-map-section {
    background-color: #616161;
}
.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-menu {
    border-bottom:1px solid #aaaaaa;
}
.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-menu > nav > ul > li > a {
    font-size:14px;
    padding:15px 0;
}

.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-map {
    padding-top: 50px;
    padding-bottom:50px;
    font-size: 13px;
}
.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-map > .left-text > div {
    margin: 5px 0;
    padding: 0 50px;
}
.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-map > .left-text > .tel > span {
    margin-right: 30px;
}

.bottom-site-map-section > .bottom-site-map-section-box > .bottom-site-map > .right-logo > img {
    width:230px;
    margin-left: 230px;
}


/* alerted 커스텀 */
.alerted.active {
    display: block;
  }
  .alerted {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
  }
  .alerted > .alert-box {
    padding: 50px;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
  }
  
  .alerted > .alert-box > .close-btn {
    margin-top: 20px;
  }
  
  .alerted > .alert-box > .close-btn > .close-text {
    padding: 5px 15px;
    border:1px dotted #000;
    cursor: pointer;
  }
  .alerted > .alert-box > .close-btn:active > .close-text {
    background: #efefef;
  }
  /* alerted 커스텀 끝 */